.body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: brown;
}
.quem-somos {
    background-color: rgb(241, 159, 126);
    color:rgb(241, 233, 233);
}
.margin {
   
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: wheat;
}

.bg-footer {
    background-color: wheat;
    padding-top: 30px;
    font-weight: bold;
}
